@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>

<div class="CenterDiv">
    <h2 class="HeaderHomePagina"> 
        Home Pagina
    </h2>
    <button type="button" class="ProjectButton">
        @Html.ActionLink("Create Project", "Create", "Project")
    </button>
    <button type="button" class="ProjectButton">
        @Html.ActionLink("Bestaande Projecten", "Index", "Project")
    </button>
</div>