@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>

<div class="CenterDiv">
    <h2 class="HeaderHomePagina"> 
        Home Pagina
    </h2>
    <button type="button" class="ProjectButton">
        Nieuw Project
    </button>
    <button type="button" class="ProjectButton">
        Bestaand Project
    </button>
</div>